<div class="{$align}">
    <iframe src="https://www.facebook.com/plugins/like.php?href={$fullselfurl}&amp;layout={$layout}&amp;action={$action}&amp;colorscheme={$color}&amp;show_faces=false&amp;width={$width}&amp;height={$height}&amp;locale={$localecode}"
        scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:{$height}px;" allowTransparency="true">
    </iframe>
</div>
